/* Mobile-First Styles */
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 25px "alternate-gothic-no-3-d", "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #555;
	/*color: white;*/
	/*background: #2D2D2D;*/
	height: 100%;
}

@font-face {
    font-family: 'star_jediregular';
    src: url('starjedi-webfont.eot');
    src: url('starjedi-webfont.eot?#iefix') format('embedded-opentype'),
         url('starjedi-webfont.woff2') format('woff2'),
         url('starjedi-webfont.woff') format('woff'),
         url('starjedi-webfont.ttf') format('truetype'),
         url('starjedi-webfont.svg#star_jediregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a, a:visited {
	/*color: #78BEFF;*/
	color: #a7d7a3;
	text-decoration: none;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}
	a:hover {
		opacity: 0.8;
	}

.hero {
	/*background: #7ac274;*/
	/*color: white;*/
	height: 320px;
}

.header {
	font-family: 'star_jediregular', "alternate-gothic-no-3-d", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	margin: 0.2em 0;
	line-height: 1;
	color: #555;
	/*color: #ffec09;*/
}

.yoda {
	padding-top: 50px;
	width: 150px;
}

.directions {
	padding: 0 10px;
}

.number {
	font-family: 'star_jediregular', "alternate-gothic-no-3-d", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

	.number span {
		font: 40px "alternate-gothic-no-3-d", "Lucida Grande", Helvetica, Arial, sans-serif;
		top: 5px;
		position: relative;
		font-weight: bold;
		margin-right: 4px;
	}

/* Recent Texts Container */
a#reveal {
	cursor: pointer;
}

#recent li {
	font-size: 0.8em;
	list-style: none;
	margin: 15px;
}


/* Share Links */
.share-links{
	text-align: center;
	margin-top: 20px;
	padding-left: 30px;
}

span.github {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-left: -28px;
}

span.facebook {
	position: relative;
	display: inline-block;
	top: -5px;
}

span.twitter-follow {
	display: inline-block;
	position: relative;
	top: 5px;
}

span.twitter {
	display: inline-block;
	position: relative;
	top: 5px;
}


/* Footer: Build by Jeloi */
.footer {
	margin-top: 1em;
	padding-bottom: 3em;
	font-size: 0.7em;
}

	.footer a {
		color: #777;
	}

.hidden	{
	display: none;
}

/* Desktop Styles */
@media only screen and (min-width: 650px) {
	body {
		font-size: 27px;
	}
	.yoda {
		width: 150px;
	}
	.header {
		font-size: 2em;
		margin: 0.2em 0;
	}

}

